name: Deploy to Azure Web App

on:
  workflow_call:
    inputs:
      container_version:
        description: 'The version of the container to deploy.'
        type: string
        required: true

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment:
      name: 'production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Azure Web App for Containers
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ vars.AZURE_WEBAPP_NAME }}
          images: index.docker.io/${{ vars.DOCKERHUB_USERNAME }}/synologyddnsupdater:${{ inputs.container_version }}
